<h1>Welcome to MetaTracker</h1>
<p>Keep track of your activities.</p>
<%= pie_chart Workout.group(:workout_type).count %>

        <%= link_to "Add Activity", new_workout_path, class:"btn btn-dark" %>
